$white: #fff;
$black: #000;

$grey :(
    light: #E2E2DF,
    medium: #333333,
    dark: #202020
);

$brown :(
    light: #F7D9C4,
    medium: #E2CFC4
);

$yellow: #faa307;

$green: #C9E4DE;

$blue: #C6DEF1;

$purple: #DBCDF0;

$pink :(
    light: #F2C6DE,
    medium: #F9C6C9,
    dark: #a4243b
);